.classes-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: #4b4b4b;
  }
  
  .classes-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
  }
  
  .classes-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
  }
  
 
  
  @media (min-width: 580px) {
    .classes-item__description {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }
  
    .classes-item__description h2 {
      font-size: 1.25rem;
    }
  
    
  }


  .coursDetails{
    cursor: pointer;

  }
  .coursDetails:hover{
    color: grey;
  }

  .infos-box2 {
    background-color: rgb(110, 195, 235);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    border-radius: 9px;
  }
  
  .infos-box2.open {
    max-height: 500px; 
    transition: max-height 0.8s ease;
    border-radius: 9px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(110, 195, 235);
  }
  

  .infos-box{
    background-color: #f0f0f0;
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  }

  .mot{
    font-family: cursive;
    padding-left: 20px;
    padding-right: 20px;
  }