.main-header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.26);
  padding: 0 2rem;
  z-index: 5;
}

.main-header a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.main-header a:hover {
  color: lightgray;
}

.main-header .logo {
  font-size: 2rem;
  font-weight: bold;
}

.main-header .nav-links {
  display: flex;
}

.main-header .nav-links li {
  list-style: none;
  margin-left: 2rem;
}






  
  main {
    margin-top: 5rem;
  }
  
  @media (min-width: 768px) {
    .main-header {
      justify-content: space-between;
    }
  }